{
  "branches": [
    "main",
    {
      "name": "dev",
      "prerelease": true
    }
  ],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "angular",
        "parserOpts": {
          "noteKeywords": [
            "BREAKING CHANGE",
            "BREAKING CHANGES",
            "BREAKING"
          ]
        },
        "releaseRules": [
          {
            "type": "build",
            "scope": "Needs bump",
            "release": "patch"
          }
        ]
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "angular",
        "parserOpts": {
          "noteKeywords": [
            "BREAKING CHANGE",
            "BREAKING CHANGES",
            "BREAKING"
          ]
        }
      }
    ],
    "@semantic-release/changelog",
    [
      "semantic-release-replace-plugin",
      {
        "replacements": [
          {
            "files": [
              "build.sbt",
              "Cargo.toml"
            ],
            "from": "version = \".*\",",
            "to": "version = \"${nextRelease.version}\",",
            "countMatches": true
          }
        ]
      }
    ],
    [
      "@semantic-release/exec",
      {
        "publishCmd": ""
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "README.md",
          "CHANGELOG.md",
          "build.sbt",
          "Cargo.toml"
        ]
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "target/scala-*/minesweeper-assembly-*.jar"
          },
          {
            "path": "Cargo.toml"
          }
        ],
        "successComment": false
      }
    ],
    [
      "@saithodev/semantic-release-backmerge",
      {
        "backmergeBranches": [
          {
            "from": "main",
            "to": "dev"
          }
        ],
        "clearWorkspace": true
      }
    ]
  ]
}
